<h2>About Community</h2>

<p>
For C/C++ developers and all that is associated with. The Goal of community is experience/knowledge exchange.
Show up to meetings, get involved remotely through chat, and join in on the conversation, become a public speaker in domain interesting for you, share your knowledge, use experience exchange for your skills improvement and professional growth.
</p>
<p>
There is no formal membership, only writing a short introduction with tag `#introduction` about yourself, when joining to Telegram group. Since we focus on C, C++, you can anticipate some of that, to begin with.
</p>
<p>
However, many of us have also other interests, like operating system design, embedded, networking, binary reversing and so on, so we'll also explore those areas as well.
</p>
<p>
Since this is a community driven group, we'll allow the participants to figure out what interests them the most and steer the group in those directions.
</p>

<h2>Public chat policies</h2>
Actually, we don`t have any, but:
<ul>
  <li>respect others plz</li>
  <li>hate speech is strictly prohibited</li>
  <li>do not flood the chat with stickers</li>
  <li>try not offtopic</li>
</ul>

<h2>Keep in touch with Kyiv native developers community</h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
    <a href="https://t.me/peerlab_C_CPP">public telegram group</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
    <a href="https://t.me/peer_lab_kyiv_announcements">event notices telegram channel</a>
  </li>
</ul>
<h2>Our public events</h2>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
    <a href="https://www.youtube.com/channel/UC4H967PpFPEoJ4_C9SbShtA">C/C++/Rust PeerLabs in UA youtube channel </a>
  </li>
</ul>
