<h2>About Community</h2>
<p>
For native developers and about native development
(on languages that compiled to native arch binaries C/C++/Rust/Go) and all that is associated with.
Goal of community is experience/knowledge exchange.
</p>
<p>
Show up to meetings, get involved remotely through chat, and join in on the conversation, 
become public speaker in domain interesting for you, 
share your knowledge, use experience exchange for your skills improvement and professional growth.
</p>
<p>
There is no formal membership, only writing short introduction with tag `#introduction` about yourself, when joining to Telegram group. 
Since we focus on C, C++, Rust and Go, you can anticipate some of that to begin with.
</p>
<p>
However, many of us have also other interests, like operating system design, embedded, networking, binary reversing and so on, 
so we'll also explore those areas as well. 
</p>
<p>
Since this is a community driven group, 
we'll allow the participants to figure out what interests them the most and steer the group in those directions.
</p>

<h2>Public chat policies</h2>
Actually, we don`t have any, but:
<ul>
  <li>respect others plz</li>
  <li>hate speech is strictly prohibited</li>
  <li>do not flood the chat with stickers</li>
  <li>try not to offtopic.</li>
</ul>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
    <a href="https://t.me/peerlab_NativeDev">Public Telegram Group</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
    <a href="https://t.me/peer_lab_kyiv_announcements">Event notices Telegram Channel</a>
  </li>
</ul>

<p><b>Telegram Group administration: </b>
<a href="https://t.me/zero_gear">zero_gear</a>(root admin), 
<a href="https://t.me/lagovas">lagovas</a>(admin), 
<a href="https://t.me/frolvlad">frolvlad</a>(admin)
</p>
