<h2>About Community</h2>
<p>
There is no formal membership, only writing short introduction with tag `#introduction` about yourself, when joining to Telegram group. 
Show up to meetings, get involved remotely through chat, and join in on the conversation to be an ambassador of our community. 
Since most of us focus on C, C++, Rust and GO, you can anticipate some of that to begin with. 
However, many of us have also other interests, like operating system design, embedded, networking, binary reversing and so on, 
so we'll also explore those areas as well. 
Since this is a community driven group, 
we'll allow the participants to figure out what interests them the most and steer the group in those directions.
</p>

<h2>Public chat policies</h2>
Actually, we don`t have any, but:
<ul>
  <li>respect others plz</li>
  <li>hate speech is strictly prohibited</li>
  <li>do not flood the chat with stickers</li>
  <li>the main topic is native development(on languages that compiled to native arch binaries C/C++/Rust/Go) and all that is associated with, try not to offtopic.</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-tumblr fa-lg main-list-item-icon"></span>
    <a href="https://t.me/peerlab_NativeDev">Telegram Group</a>
  </li>
</ul>
